<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 2 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [forceOverscroll]="false" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="openModal()" class="ion-margin-top ion-margin-left"
    >Open Modal with Navigation</ion-button
  >

  <ion-button (click)="vibrate()" class="ion-margin-top ion-margin-left"
    >Soft Vibration</ion-button
  >

  <ion-range [(ngModel)]="duration" min="5" max="2000" color="secondary">
    <ion-label slot="start">5</ion-label>
    <ion-label slot="end">2000</ion-label>
  </ion-range>

  <ion-button (click)="check()">
    Check
  </ion-button>
  
  <ion-button (click)="show()">
    Show
  </ion-button>
</ion-content>
